version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: "chore(deps):"
    open-pull-requests-limit: 10
    groups:
      dev-dependencies:
        dependency-type: development
        update-types:
          - minor
          - patch
